{% extends "Layout.html.twig" %}

{% block title %}- Fila de Caminhões
{% endblock %}
{% block head %}
	{{ parent() }}
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
{% endblock %}
{% block content %}
	{{ parent()}}
{% endblock %}

{% block corpo %}
	<div class="row col-md-12" style="background-color: #fff;padding-bottom: 30px;padding-top: 30px;padding-left: 20px;padding-right: 20px">
		<div class="row col-md-12">
			<div class="col-md-8">
				{% if arquivos != null %}
					<table class="table table-borderless">
						<thead>
							<tr>
								<th scope="col">Ações</th>
								<th scope="col">Arquivo</th>
							</tr>
						</thead>
						<tbody>
							{% for dado in arquivos %}
								{% if  'ok' in dado %}
									{% else %}
										<tr>
											<td>
												<a onclick="verCaminhao('{{dado}}')" style="color: #fff" class="btn btn-sm btn-primary" title="Ver informações do caminhão">
													<span>
														<i class="fa fa-info-circle" aria-hidden="true"></i>
													</span>
												</a>
											</td>
											<td>
												<span>
													<i class="fa fa-file" aria-hidden="true"></i>
													{{dado}}
												</span>
											</td>
										</tr>
								{% endif %}
							{% endfor %}

						</tbody>
					</table>

				{% else %}
					<div class="alert alert-danger animated fadeInUp">
						<center>Sem arquivos no diretório!</center>
					</div>
				{% endif %}
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-6">
						<div class="col-xl-12 col-sm-12 mb-12 bg-warning" style="border-radius: 8px">
							<div class="col-md-12">
								<center style="font-size: 38px">
									<b>{{totalFila}}</b>
								</center>
							</div>
							<div class="col-md-12">
								{% if totalFila <= 1 %}
									<center>
										caminhão na fila de espera</center>
								{% else %}
									<center>
										caminhões na fila de espera</center>
								{% endif %}
							</div>
						</div>

					</div>
					<div class="col-md-6" onclick="confirmarLimparTela()">
						<div class="col-xl-12 col-sm-12 mb-12 bg-danger" style="border-radius: 8px; color:#fff">
							<div class="col-md-12">
								<center style="font-size: 38px">
									<i class="fa fa-trash-o" aria-hidden="true"></i>

								</center>
							</div>
							<div class="col-md-12">
								<center>remover arquivos da	fila</center>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="verCaminhao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Visualizar dados do arquivo</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form col-md-12" id="form" method="POST">
						<div class="row">
							<div class="col-lg-12">
								<label for="nom_arquivo">Arquivo:</label>
								<input name='nom_arquivo' id="nom_arquivo" class="form-control" readonly=""/>
							</div>
							<div class="col-lg-6">
								<label for="dta_termino">Data Término:</label>
								<input name='dta_termino' id="dta_termino" class="form-control" readonly=""/>
							</div>
							<div class="col-lg-6">
								<label for="dsc_leitura">Controle de pátio:</label>
								<input readonly="" name='dsc_leitura' id="dsc_leitura" class="form-control"/>
							</div>

						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" title="Remover arquivo da fila" onclick="confirmarRemoverArquivo()">
						<span>
							<i class="fa fa-trash-o" aria-hidden="true"></i>
							Remover</span>
					</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="sucesso" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ação realizada com sucesso!</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<center>
						<a class="btn btn-primary text-center" href="/saab/public_html/">OK</a>
					</center>

				</div>

			</div>
		</div>
	</div>
	<div class="modal fade" id="falha" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ação não realizada!</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<center>
						Erro ao realizar a operação! Favor procurar administrador do sistema.
						<a class="btn btn-primary text-center" href="/saab/public_html/">OK</a>
					</center>

				</div>

			</div>
		</div>
	</div>
	<div class="modal fade" id="confirmarLimparTelar" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Deseja realmente limpar a fila?
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<center>
						<a class="btn btn-secondary text-center" href="/saab/public_html/" style="color: #fff;float: right">Cancelar</a>
						<a class="btn btn-danger text-center" onclick="limparTela()" style="color: #fff;float: right;margin-right:5px">Confirmar</a>

					</center>
				</div>


			</div>
		</div>
	</div>
	<div class="modal fade" id="confirmarRemoverArquivo" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Deseja realmente remover arquivo da fila?
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-lg-12" style="margin-bottom: 5px">
						<label for="nom_arquivoCon">Arquivo:</label>
						<input name='nom_arquivoCon' id="nom_arquivoCon" class="form-control" readonly=""/>
					</div>
					<a class="btn btn-secondary text-center" href="/saab/public_html/" style="color: #fff;float: right">Cancelar</a>
					<a class="btn btn-danger text-center" onclick="removerArquivoFila()" style="color: #fff;float: right;margin-right:5px">Confirmar</a>

				</div>


			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{{ parent() }}
{% endblock %}
{% block js %}
	{{ parent() }}
	<script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
$("#1").removeClass('nav-item');
$("#1").addClass("nav-item active");
});
	</script>
	<script src="vendor/popper/popper.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="vendor/chart.js/Chart.min.js"></script>
	<script src="js/sb-admin.min.js"></script>
	<script src="js/limparTela.js"></script>
{% endblock %}
