<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>SAAB{% block title %}{%endblock %}</title>
            <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
            <link rel="stylesheet" href="node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
            <link rel="stylesheet" href="css/style.css"/>
            <link rel="shortcut icon" href="images/logoSmall.png"/>
            <link rel="stylesheet" href="/lib/font/css/font-awesome.min.css">
            <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

            <link href="css/sb-admin.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>

        <div class=" container-scroller">
            {% block content %}
                <!--Navbar-->
                <nav class="navbar bg col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row"  style="background-color: #006c3a" >
                    <div class="bg-white text-center navbar-brand-wrapper">
                        <a class="navbar-brand brand-logo" href="/remuneracao/public_html/"><img src="images/logo.jpg" /></a>
                        <a class="navbar-brand brand-logo-mini" href="/remuneracao/public_html/"><img src="images/logo.jpg" alt=""></a>
                    </div>
                    <div class="navbar-menu-wrapper d-flex align-items-center" style="background-color: #006c3a" >
                        <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button" data-toggle="minimize">
                            <span class="navbar-toggler-icon" style="color: #fff"></span>
                        </button>

                        <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button" data-toggle="offcanvas">
                            <span class="navbar-toggler-icon" style="color: #fff"></span>
                        </button>
                    </div>
                </nav>

                <div class="container-fluid">
                    <div class="row row-offcanvas row-offcanvas-right">
                        <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
                            <div class="user-info">
                                <img src="images/user.png" alt="">
                                <p class="name">{{user.nome}}</p>
                                <p class="designation">{{user.funcao}}</p>
                                <p class="designation"><a href="/remuneracao/public_html/removerUsuario" style="text-decoration: none;color: #000"><i class="fa fa-sign-out" aria-hidden="true"></i>
                                        sair</a></p>

                            </div>
                            <ul class="nav">
                                <li id="1" class="nav-item ">
                                    <a class="nav-link " href="/scdp/public_html/">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span class="menu-title">Home</span>
                                    </a>
                                </li>
                       
                      
                                <li id="2" class="nav-item ">
                                    <a class="nav-link" href="/saab/public_html/controlePerfil">
                                        <i class="fa fa-user fa-1x" aria-hidden="true"></i>
                                        <span class="menu-title">Perfil</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                        <div class="content-wrapper">
                            {% block corpo %}
                                
                            {% endblock %}
                        </div>

                    </div>
                </div>
            {% endblock %}
        </div>
        <footer class="footer">
            {% block footer %}
                <div class="container-fluid clearfix">
                    <span class="float-right">
                        <a href="#">UBS Valorem</a> &copy; 2017
                    </span>
                </div>
            {% endblock %}
        </footer>                

        {% block js %}
            <script src="node_modules/jquery/dist/jquery.min.js"></script>
            <script src="node_modules/tether/dist/js/tether.min.js"></script>
            <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="node_modules/chart.js/dist/Chart.min.js"></script>
            <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
            <script src="js/off-canvas.js"></script>
            <script src="js/hoverable-collapse.js"></script>
            <script src="js/misc.js"></script>
            <script src="js/chart.js"></script>
            <script src="js/maps.js"></script>
        {% endblock %}

    </body>
</html>
